/* Variables
--------------------------------------------------- */
/* Mixin's
--------------------------------------------------- */
/* Global Styles
--------------------------------------------------- */
* {
  padding: 0;
  margin: 0; }

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: #e1e8ea;
  color: #22313f; }

svg path {
  fill: #22313f; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .container .section-title {
    padding: 15px 0; }

#content {
  display: none; }

/* Header
--------------------------------------------------- */
.header,
.footer {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(34, 49, 65, 0.8);
  color: #ecf0f1;
  z-index: 100000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center; }

.footer {
  text-align: center;
  flex-direction: column; }
  .footer span {
    color: rgba(225, 232, 234, 0.8);
    font-weight: 400; }

/* Location Input
--------------------------------------------------- */
.location-block {
  padding: 30px;
  background-color: rgba(34, 49, 65, 0.6); }
  .location-block .location.section-title {
    color: #ecf0f1;
    padding-top: 0; }
  .location-block .location.input {
    width: 100%; }
    .location-block .location.input form {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: stretch; }
      .location-block .location.input form .location.search,
      .location-block .location.input form .location.submit {
        font-size: 26px; }
      .location-block .location.input form .location.search {
        width: calc(80% - 20px);
        background-color: rgba(236, 240, 241, 0.8);
        color: #22313f;
        padding: 15px;
        border: none; }
      .location-block .location.input form .location.submit {
        width: 20%;
        background-color: #22313f;
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15%;
        color: #ecf0f1;
        border: none; }

/* Forecast Wrapper
--------------------------------------------------- */
.weather-wrapper {
  width: 100%;
  padding: 40px 0;
  /* Background Video */ }
  .weather-wrapper .block:not(.title) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between; }
  .weather-wrapper .weather-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100; }
  .weather-wrapper .weather-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  @media (max-width: 767px) {
    .weather-wrapper .weather-bg {
      background: url("http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg") center center/cover no-repeat; }
    .weather-wrapper .weather-bg__video {
      display: none; } }

/* Current Conditions Section
--------------------------------------------------- */
.current-conditions-block,
.forecast-block {
  background-color: rgba(236, 240, 241, 0.6);
  padding: 30px; }

.forecast-block {
  padding-top: 0; }

.current-conditions.section-title,
.forecast.section-title {
  color: #22313f;
  padding-top: 0; }

.weather-conditions {
  width: 100%;
  border: 9px solid rgba(34, 49, 65, 0.8);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }
  .weather-conditions .condition.overview {
    width: 50%;
    background-color: rgba(225, 232, 234, 0.8);
    border-right: 9px solid rgba(34, 49, 65, 0.8);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .weather-conditions .condition.overview .current.condition-icon {
      width: 100%;
      padding-top: 40px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center; }
      .weather-conditions .condition.overview .current.condition-icon img {
        width: 50%;
        height: auto;
        margin-top: -50px; }
    .weather-conditions .condition.overview .current.temp {
      font-size: 64px;
      font-weight: bold;
      margin-top: -30px; }
    .weather-conditions .condition.overview .current.condition {
      max-width: 350px;
      font-size: 32px;
      text-align: center;
      padding-bottom: 40px; }
  .weather-conditions .condition.details {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .weather-conditions .condition.details ul {
      width: 100%;
      list-style: none; }
      .weather-conditions .condition.details ul li {
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items: stretch; }
        .weather-conditions .condition.details ul li .title,
        .weather-conditions .condition.details ul li .value {
          width: 50%;
          padding: 10px 15px;
          margin-bottom: 1px; }
        .weather-conditions .condition.details ul li .title {
          text-align: right;
          font-weight: bold;
          background-color: #ecf0f1;
          margin-right: 1px; }
        .weather-conditions .condition.details ul li .value {
          text-align: left;
          background-color: #e1e8ea; }
      .weather-conditions .condition.details ul li:nth-child(odd) .title {
        background-color: rgba(236, 240, 241, 0.8); }
      .weather-conditions .condition.details ul li:nth-child(odd) .value {
        background-color: rgba(225, 232, 234, 0.8); }

/* Weekly Forecast Section
--------------------------------------------------- */
.weather-forecast {
  width: calc(14.28% - 35px);
  float: left;
  border: 9px solid rgba(34, 49, 65, 0.8);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }
  .weather-forecast .forecast.weekday,
  .weather-forecast .forecast.condition,
  .weather-forecast .forecast.condition-icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
  .weather-forecast .forecast.weekday {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 0 0;
    border-top: 3px solid #ecf0f1; }
  .weather-forecast .forecast.condition {
    text-align: center;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch; }
  .weather-forecast .forecast.heading {
    background-color: rgba(225, 232, 234, 0.8); }
  .weather-forecast .forecast.weekday,
  .weather-forecast .forecast.condition {
    border-left: 3px solid #ecf0f1;
    border-right: 3px solid #ecf0f1; }
  .weather-forecast .forecast.condition-icon {
    padding: 10px 0;
    background-color: rgba(236, 240, 241, 0.8);
    border-left: 3px solid #ecf0f1;
    border-right: 3px solid #ecf0f1; }
  .weather-forecast .temperature {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .weather-forecast .temperature .temp-low,
    .weather-forecast .temperature .temp-high {
      width: 50%;
      color: #ecf0f1;
      font-weight: bold;
      padding: 10px 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center; }
    .weather-forecast .temperature .temp-low {
      background-color: rgba(107, 185, 240, 0.8);
      border: 3px solid #6bb9f0;
      border-top: none;
      border-right: none; }
    .weather-forecast .temperature .temp-high {
      background-color: rgba(242, 120, 75, 0.8);
      border: 3px solid #f2784b;
      border-top: none;
      border-left: none; }

/* Loading Styles */
.page-loading,
.weather-loading {
  width: 100vw;
  height: calc(100vh - 79px);
  background-color: #22313f;
  color: #ecf0f1;
  text-align: center;
  z-index: 1000;
  display: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.weather-loading {
  width: 100%;
  height: 250px;
  background-color: rgba(34, 49, 65, 0.6); }

/* Resonsive Styles */
@media (max-width: 1279px) {
  .location-block .location.input form .location.search {
    -webkit-width: calc( 75% - 20px );
    width: calc( 75% - 20px ); }
  .location-block .location.input form .location.submit {
    width: 25%; }

  .weather-forecast {
    width: 100%;
    margin-bottom: 0;
    border-bottom: none;
    flex-direction: row; }
    .weather-forecast .forecast.heading {
      width: 60%;
      border: 3px solid #ecf0f1;
      border-right: none;
      border-left: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .weather-forecast .forecast.heading .forecast.weekday,
      .weather-forecast .forecast.heading .forecast.condition {
        justify-content: flex-start;
        border: none; }
      .weather-forecast .forecast.heading .forecast.weekday {
        font-size: 1.8em;
        padding: 0 0 0 40px; }
      .weather-forecast .forecast.heading .forecast.condition {
        font-size: 1.4em;
        padding: 0 0 0 40px; }
    .weather-forecast .forecast.condition-icon {
      -webkit-width: calc( 20% - 30px );
      width: calc( 20% - 3px );
      border: 3px solid #ecf0f1;
      border-right: none;
      order: -1; }
    .weather-forecast .temperature {
      -webkit-width: calc( 20% - 30px );
      width: calc( 20% - 3px);
      flex-direction: column; }
      .weather-forecast .temperature .temp-low,
      .weather-forecast .temperature .temp-high {
        width: 100%;
        padding: 20.2px 0; }
      .weather-forecast .temperature .temp-low {
        border: 3px solid #6bb9f0;
        border-bottom: none;
        border-left: none; }
      .weather-forecast .temperature .temp-high {
        border: 3px solid #f2784b;
        border-top: none;
        border-left: none; }

  .weather-forecast:last-child {
    border-bottom: 9px solid #22313f; } }
@media (max-width: 1200px) {
  .weather-wrapper {
    padding: 0; } }
@media (max-width: 767px) {
  .weather-conditions {
    flex-direction: column; }
    .weather-conditions .condition.overview,
    .weather-conditions .condition.details {
      width: 100%; }
    .weather-conditions .condition.overview .current.temp {
      margin-top: -60px; }
    .weather-conditions .condition.overview .current.condition {
      padding-bottom: 60px; }
    .weather-conditions .condition.details {
      font-size: 14px; }

  .weather-forecast .forecast.heading .forecast.weekday {
    font-size: 1.3em;
    padding: 0 0 0 40px; }
  .weather-forecast .forecast.heading .forecast.condition {
    font-size: 1em;
    padding: 0 0 0 40px; }
  .weather-forecast .forecast.condition-icon {
    padding: 0; }
  .weather-forecast .temperature .temp-low,
  .weather-forecast .temperature .temp-high {
    padding: 15.2px 0; } }
@media (max-width: 659px) {
  .container .section-title {
    font-size: 1.5em;
    padding: 0 0 10px 0; }

  .location-block .location.input form .location.search {
    font-size: 1em;
    padding: 10px; }

  .weather-conditions {
    border: 6px solid rgba(34, 49, 65, 0.8); }
    .weather-conditions .condition.overview {
      border-right: none; }
      .weather-conditions .condition.overview .current.condition-icon {
        padding-top: 20px; }
        .weather-conditions .condition.overview .current.condition-icon img {
          width: 30%;
          margin-top: 0; }
      .weather-conditions .condition.overview .current.temp {
        font-size: 36px;
        margin-top: -20px; }
      .weather-conditions .condition.overview .current.condition {
        font-size: 22px;
        padding-bottom: 35px; }

  .weather-forecast {
    border: 6px solid rgba(34, 49, 65, 0.8);
    border-bottom: none; }
    .weather-forecast .forecast.heading .forecast.weekday {
      font-size: 1.3em;
      padding: 0 0 0 20px; }
    .weather-forecast .forecast.heading .forecast.condition {
      font-size: 1em;
      padding: 0 0 0 20px; }
    .weather-forecast .forecast.condition-icon img {
      width: 80%; }
    .weather-forecast .temperature .temp-low,
    .weather-forecast .temperature .temp-high {
      font-size: 0.9em;
      padding: 13.1px 0; }

  .weather-forecast:last-child {
    border-bottom: 6px solid #22313f; } }
@media (max-width: 439px) {
  .weather-conditions {
    border: 6px solid rgba(34, 49, 65, 0.8); }
    .weather-conditions .condition.overview {
      border-right: none; }
      .weather-conditions .condition.overview .current.condition-icon {
        padding-top: 20px; }
        .weather-conditions .condition.overview .current.condition-icon img {
          width: 30%;
          margin-top: 0; }
      .weather-conditions .condition.overview .current.temp {
        font-size: 36px;
        margin-top: -20px; }
      .weather-conditions .condition.overview .current.condition {
        font-size: 22px;
        padding-bottom: 35px; }

  .weather-forecast .forecast.heading .forecast.weekday {
    font-size: 1em;
    padding: 0 0 0 20px; }
  .weather-forecast .forecast.heading .forecast.condition {
    font-size: 0.8em;
    padding: 0 0 0 20px; }
  .weather-forecast .temperature .temp-low,
  .weather-forecast .temperature .temp-high {
    font-size: 0.7em;
    padding: 8px 0; } }

/*# sourceMappingURL=global.css.map */
